@using Mercedes.Core.Domain
@model Model
@{
    ViewBag.Title = "";   
    var priceModels = ViewBag.PriceModels as List<PriceModel>;
    var priceFirst = new PriceModel();
    var detailprice = "";
    if (priceModels != null && priceModels.Count > 0)
    {
        priceFirst = priceModels[0];
        //detailprice = string.Format("{0:#,###}", priceFirst.Price) + " USD / " + priceFirst.RentType.RentTypeName;
        detailprice = string.Format("{0:#,###}", priceFirst.Price) + " USD / Tháng";
    }
}

<section class="product-detail-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product-slider">
                <ul class="bxslider-product">
                    @foreach (var item in Model.ImageURLs)
                    {
                        <li><a href="@Url.Content(@item.FullImageUrl)" data-fancybox="group"><img src="@Url.Content(@item.FullImageUrl)" /></a></li>
                    }                                       
                </ul>

                <div id="bx-pager">
                    @for (int i = 0; i < Model.ImageURLs.Count; i++)
                    {
                        <a data-slide-index="@i.ToString()" href=""><img src="@Url.Content(Model.ImageURLs[i].ThumbImageUrl)" /></a>
                    }                                       
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product-detail">
                <div class="detail-name-price">
                    <p class="detail-name">@Model.Name</p>
                    <p class="detail-price">@detailprice</p>                   
                </div>
                <table class="detail-description">
                    <tr>
                        <td class="detail-title">Đời xe:</td>
                        <td>@Model.Year.ToString()</td>
                    </tr>
                    <tr>
                        <td class="detail-title">Màu xe:</td>
                        <td>@Model.Color</td>
                    </tr>
                    <tr>
                        <td class="detail-title">Loại số:</td>
                        <td>@Model.Gear</td>
                    </tr>
                    <tr>
                        <td class="detail-title">NL trung bình:</td>
                        <td>@Model.FuelUsed</td>
                    </tr>
                    <tr>
                        <td class="detail-title">Thuê xe:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <table>
                                @{
                                    var temp = "";
                                    foreach (var item in priceModels)
                                    {
                                        //temp = string.Format("{0:#,###}", item.Price) + " USD / " + item.RentType.RentTypeName;
                                        temp = string.Format("{0:#,###}", item.Price) + " USD";
                                        <tr>
                                            <td class="detail-title">+ @item.RentType.RentTypeName: </td>
                                            <td>@temp</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>
<section class="contain product-description">
    <div class="container">
        <h2>Thủ tục thuê xe</h2>
        <p>- Quý khách phải có Hộ Khẩu TP.HCM, số nhà trùng số Hộ Khẩu, CMND, bằng lái photo.</p>
        <p>- Khi giao xe,quý khách thuế chấp 15 triệu tiền mặt hoặc một xe gắn máy có giá trị tương đương 15 triệu.</p>
        <p>- Đối với công ty thủ tục thuê cấn GPKD bản chính,15 triệu tiền mặt.</p>
        <p>- Giá trên áp dụng thuê lẽ từng ngày,quý khách thuê dài hạn,vui lòng liên hệ phòng điều hành xe để được giá tốt nhất.</p>
    </div>
</section>
<section class="contain banner-ads">
    <div class="container">
        <p>Đẳng Cấp. Cao Cấp. Chuyên Nghiệp.</p>
        <a href="@Url.RouteUrl("Contact")" class="btn btn-site">Liên Hệ Ngay</a>
    </div>
</section>

