@using Mercedes.Admin.Models;
@model CategoryModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Category Information</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <label class="col-md-3 control-label">Manufacture</label>
            <div class="col-md-9">
                @Html.DropDownListFor(m=>m.SelectedManufactureId, Model.AllManufacturers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Code</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Image 1</label>
            <div class="col-md-9">
                @Html.EditorFor(m => m.ImageUrl, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Image 2</label>
            <div class="col-md-9">
                @Html.EditorFor(m => m.ImageUrl_2, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Display Order</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Published</label>
            <div class="col-md-9">
                @Html.CheckBoxFor(m => m.Published)
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    <button type="button" class="btn btn-success" onclick="saveCategory()" id="btn-update">Update</button>
</div>

<script type="text/javascript">
    function saveCategory() {
        var frmCategory = $("#category-form");
        var formData = frmCategory.serialize();
        $("#btn-update").attr("disabled", "disabled");
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("Update")',
            data: formData,
            success: function (data) {
                if (data) {
                    alert("Save category successfully");
                    resourceTable.ajax.reload();
                    //jQuery.noConflict();
                    $('#frm-edit-category').modal('toggle');
                } else {
                    alert("Cannot save category information. Please check again!");
                }
                $("#btn-update").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
                $("#btn-update").removeAttr("disabled");
            }
        });
    }
    $(function () {
        $("#DisplayOrder").TouchSpin();
    });
</script>