@using Mercedes.Core.Domain
@model IList<Category>
@{
    ViewBag.Title = "Trang chủ";   
}

<div class="home-banner">
    <h1>Thuê Xe Mercedes Benz<br />Sang Trọng. Quý Phái. Lịch Lãm.</h1>
    <ul class="bxslider">
        <li><img src="../images/home-banner-bg-01.jpg" /></li>
        <li><img src="../images/home-banner-bg-02.jpg" /></li>
        <li><img src="../images/home-banner-bg-03.jpg" /></li>
    </ul>
</div>

<section class="contain text-center left-contain">
    <div class="container">
        <h2>Về Chúng Tôi</h2>
        <p>Chúng tôi là đối tác chiến lược của công ty Mercedes Benz tại Đức.<br />Chúng tôi đang triển khai dịch vụ cho thuê dòng xe Mercedes Benz cao cấp tại Việt Nam.<br />Rất hân hạnh được phục vụ và mang đẳng cấp đến với quý khách.</p>
        <a href="@Url.RouteUrl("About")" class="btn btn-site">Xem Thêm</a>
        <img src="../images/img-home-01.jpg" class="img-responsive img-section" />
    </div>
</section>
  
<div class="home-product-wrapper">
    <ul>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <li>
                    <div class="home-product-bg" style="background-image: url('@Url.Content(@item.ImageUrl)');"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 home-product-wrap">
                                <p class="product-wrap-name"><span>@item.Manufacturer.Name</span>@item.Code</p>
                                <a href="@Url.RouteUrl("VehicleSeries",new { id = @item.Id, type = @item.Code })" class="btn btn-site">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }         
    </ul>
</div>
