@using Mercedes.Admin.Models;
@using Mercedes.Web.Framework;
@model ManageVehiclePictureModel
@{
    Layout = "";
}
<script src="~/Administration/Scripts/jsrender.min.js"></script>

@Html.Hidden("VehicleModelId",@Model.VehicleModelId, new { id= "VehicleModelId" })
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Manage Pictures</h4>
</div>
<div class="modal-body">
    <div id="grid-pictures" class="row" style="height:420px; overflow-y:scroll; border:solid 2px gray;">
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label">New Image</label>
        <div class="col-md-9">
            @Html.EditorFor(m => m.NewPictureModel.FullImageUrl, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Display Order</label>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.NewPictureModel.DisplayOrder, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-addimage">Add Image</button>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    <button type="button" class="btn btn-success" onclick="saveCategory()" id="btn-update">Update</button>
</div>

<script id="tmpl-model-picture" type="text/x-jsrender">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="javascript:void(0)">
            <img class="img-responsive" src="{{>FullImageUrl}}" alt="">
        </a>
    </div>
</script>


<script type="text/javascript">
    function loadModelImageGrid()
    {
        var postData = {
            modelId: $("#@Html.FieldIdFor(m => m.VehicleModelId)").val() };

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("LoadModelPictures", "Model"))",
            data: postData,
        success: function(data) {
            var grid = $("#grid-pictures");
            grid.html($("#tmpl-model-picture").render(data));
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert('Failed to load model picture.');
        }
    });
    }
    $(document).ready(function() {
        loadModelImageGrid();
        $('#btn-addimage').click(function() {
            @*var pictureUrl = $("#@Html.FieldIdFor(model => m.NewPictureModel.FullImageUrl)").val();
            var displayOrder = $("#@Html.FieldIdFor(model => m.NewPictureModel.DisplayOrder)").val();*@
    
            var pictureUrl = $("#NewPictureModel_FullImageUrl").val();
            var displayOrder = $("#NewPictureModel_DisplayOrder").val();
            if (pictureUrl == '') {
                alert('Upload picture first');
                return;
            }

            $('#btn-addimage').attr('disabled', true);

            var postData = {
                FullImageUrl: pictureUrl,
                ThumbImageUrl: pictureUrl,
                DisplayOrder: displayOrder,
                VehicleModelId: @Model.VehicleModelId};

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("AddModelImage", "Model"))",
                data: postData,
                success: function(data) {
                    var grid = $("#productpictures-grid");
                    loadModelImageGrid();
                    $('#addProductPicture').attr('disabled', false);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to add model picture.');
                    $('#btn-addimage').attr('disabled', false);
                }
            });
        });
    });
</script>