@using Mercedes.Admin.Models.Language;
@model LocaleResourceStringModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Language Information</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Culture</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Culture, new { @class = "form-control" })
            </div>
        </div>
       
        <div class="checkbox-list">
            <div class="form-group ">
                <label class="col-md-6 control-label">
                    <span>
                        @Html.CheckBoxFor(m => m.Active)
                    </span>Active
                </label>
            </div>
            <div class="form-group ">
                <label class="col-md-6 control-label">
                    <span>
                        @Html.CheckBoxFor(m => m.IsDefault)
                    </span>IsDefault
                </label>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="btn-Close">Close</button>
    <button type="button" class="btn btn-success" onclick="saveSetting()" id="btn-update">Update</button>
</div>

<script type="text/javascript">
    function saveSetting() {
        var frmCategory = $("#setting-form");
        var formData = frmCategory.serialize();
        $("#btn-update").attr("disabled", "disabled");
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("Update")',
            data: formData,
            success: function (data) {
                if (data) {
                    alert("Save setting successfully");
                    resourceTable.ajax.reload();
                    //jQuery.noConflict();
                    $('#frm-edit-setting').modal('toggle');
                } else {
                    alert("Cannot save setting information. Please check again!");
                }
                $("#btn-update").removeAttr("disabled");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responeText);
                $("#btn-update").removeAttr("disabled");
            }
        });
    }
</script>